@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
body {
  background-color: black; /* Match the initial background color of your page */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.text-bg {
    @apply bg-gradient-to-b from-[#FFFFFF] to-[#999999] bg-clip-text text-transparent;
  }

  .custom-gradient {
    background: radial-gradient(circle, #dbe09ebd 5%, #8c990091 90%, black 5%);
  }
  